<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <div class="d-flex flex-row">
            <a href="/" class="text-white mb-0 mr-4">©2020 Social Helpers</a>
            <a href="/about" class="text-white mb-0 mr-4">About</a>
            <a href="/contact" class="text-white mb-0">Contact</a>
        </div>
        <div>
            <a href="#facebok" class="fab fa-facebook mr-2"></a>
            <a href="#twitter" class="fab fa-twitter mr-2"></a>
        </div>
    </div>
</footer>